body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 0;
  margin: 0;
}

.nav-item, .navbar-brand {
  display: inline-block;
}

.navbar {
  background-color: lightgray;
  padding: 0;
  margin: 0;
  border-bottom: solid black 1px;
  width: 100%;
}

.navbar-brand {
  background-color: gray;
  padding: 0.5em;
  margin: 0;
  border-right: solid black 1px;
  font-variant: small-caps;
  font-weight: bold;
}

.nav-item {
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

#name {
  font-size: 150%;
  font-weight: 150%;
}

#svgcontainer {
  padding: 10px;
  overflow: hidden;
}

svg {
  display: block;
  width: 100%;
  height: 100%;
  border: solid red 1px;
}